body {
  background-color: white;
}

.navbar {
  border-bottom: 1px solid #1190CB;
  /* border-radius: 0% 0% 25% 25%; */
}

#navbarToggler {
  justify-content: flex-end;
  color: red;
}

li a {
  color: #1190CB !important;
}
li a:hover {
  color: #1D7A8C !important;
}

h1 {
  color: #1190CB !important;
}

.fa {
  color: #1D7A8C;
}

.btn-primary {
  background-color: #1190CB !important;
  border-color:#1190CB !important;
}

.btn-primary:hover {
  background-color: #1D7A8C !important;
  border-color: #1D7A8C !important;
}

.alert {
  width: 18rem;
  position: fixed;
  top: 85%;
  left: 2%;
}

.alert-info {
  color: white;
  background-color: #1190CB;
  border-color: #1190CB;
}





.navbar-brand {
  color: #1190CB !important;
}

th {
  text-align: center;
  color: #1190CB !important;
}

thead {
  border-bottom: 1px solid black;
}

tbody tr {
  border-bottom: 1px solid darkgrey ;
  color: #1D7A8C;
}

tr {
  height: 3rem;
}

tbody tr:nth-child(odd) {
  background-color: gainsboro;
}

.fa-trash {
  color: white !important;
}

.fa-pen {
  color: white !important;
}

#dropdownUser1 {
  color: #1190CB !important;
}

#sidebarMenu > ul{
  position:fixed;
  margin-top: 3rem;
}
