body {
  background-color: white;
}

.navbar {
  border-bottom: 1px solid #1190CB;
  /* border-radius: 0% 0% 25% 25%; */
}

#navbarToggler {
  justify-content: flex-end;
}

li a {
  color: #1190CB !important;
}
li a:hover {
  color: #1D7A8C !important;
}

h1 {
  color: #1190CB !important;
}

.fa {
  color: #1D7A8C;
}

.btn-primary {
  background-color: #1190CB !important;
  border-color:#1190CB !important;
}

.btn-primary:hover {
  background-color: #1D7A8C !important;
  border-color: #1D7A8C !important;
}

.alert {
  width: 18rem;
  position: fixed;
  top: 85%;
  left: 2%;
  opacity: 0.9;
}

.alert-info {
  color: white;
  background-color: #1190CB;
  border-color: #1190CB;
}





.navbar-brand {
  color: #1190CB !important;
}

th {
  text-align: center;
  color: #1190CB !important;
}

thead {
  border-bottom: 1px solid black;
}

tbody tr {
  border-bottom: 1px solid darkgrey ;
  color: #1D7A8C;
}

tr {
  height: 3rem;
}

tbody tr:nth-child(odd) {
  background-color: gainsboro;
}

.fa-trash {
  color: white !important;
}

.fa-pen {
  color: white !important;
}

#dropdownUser1 {
  color: #1190CB !important;
}

#sidebarMenu > ul{
  position:fixed;
  margin-top: 3rem;
}

.active {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: #1D7A8C !important;
}


#results {
  z-index: 2000;
}



.lcUpload__block {
  position: relative;
  text-align: center;
  font-size: 1.25rem;
  background-color: #bbb;
  padding: 80px 20px;
  border-radius: .25rem;
}

.lcUpload__file {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.lcUpload__input,
.lcUpload__input label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 55px;
}

.form-group {
  position: relative;
}

#listContacts {
  z-index: 10;
  display: none;
  list-style: none;
  position: absolute;
  background: #fff;
  /* width: 100%; */
  max-height: 150px;
  overflow: auto;
  border: solid grey 2px;
  border-top: none;
}

#listContacts li {
  height: 40px;
  vertical-align: middle;
}

#listContacts li:hover {
  background: #ccc;
}

.realty-photos {
  display: flex;
  justify-content: center;
}

.realty-photos img{
  height: 10rem;
  border-radius: 5px;
  margin: 0.5rem;
}
